body {
background-color: rgba(0, 255, 174, 0.79);
caret-color: rgb(255, 0, 0);}


#smallerpic {
    max-width: 200px;
    max-height: 200px;
}

smallerpic{
    max-width: 200px;
    max-height: 200px;
}

